/* wraps everything together, keeping the pinned columns in place */

.grid-responsive-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

/* force cell content to not wrap */
.grid-responsive-wrapper th,.grid-responsive-wrapper td, .grid-responsive-wrapper th a {
    white-space: nowrap;
}

/* enable horizontal scrolling on the non-pinned grid */

.grid-scrollable {
  overflow: auto;
  overflow-y: hidden;
}

/* makes the cloned columns stay to the left */

.grid-pinned {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-x: auto;
  background-color: white;
}

/* allow the original table the fill up as much space as it needs */

.grid-pinned table {
  width: auto !important;
}
